* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

body {
    background-color: #fff;
}

main {
    max-width: 1170px;
    margin: auto;
}

.title {
    color: #e53170;
    margin: 40px;
}

.title, h1 p {
    text-align: center;
}

p {
    margin-bottom: 40px;
}

.container-main {
    border: solid 1px black;
    height: 100px;
}

.container-card {
    border: solid 1px red; /* da togliere */
    height: 100px;
    float: left;
    width: calc(100% / 3);
    background-color: black;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.person-info {
    text-align: center;
    height: 100px;
}

.img-male1 {
    width: 100px;
    height: 100px;
    float: left;
}

.span {
    margin: 35px;
}

.name {
    font-weight: 700;
}

.name, .job {
    color: #fff;
}

.mail {
    color: #1fb3f5;
}