* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

body {
    background-color: #fff;
}

main {
    max-width: 90%;
    margin: auto;
}

.title {
    color: #e53170;
    margin: 40px;
}

.title, .p-title {
    text-align: center;
}

.p-title {
    margin-bottom: 40px;
}

.container-main {
    height: 100px;
    margin-bottom: 50px;
}

.container-card {
    height: 100px;
    float: left;
    width: calc(100% / 3 - 20px);   /* Rimangono 60px da usare come margin sulle prime due card della riga */
    background-color: black;
}

.clearfix:after {   /* Nessun effetto visivo in questo caso particolare, ma è da mettere */
    content: "";
    display: table;
    clear: both;
}

.person-info {
    text-align: left;
    height: 100px;
}

.profile-pic {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 10px;
}

.name {
    font-weight: 700;
}

.name, .job {
    color: #fff;
}

.mail {
    color: #1fb3f5;
}

div > p {
    margin: 10px;
}

.margin-right {
    margin-right: 30px; /* Uso i 60px liberi */
}